.pink{
    background-color: pink;
    color: black;
}
.blue{
    background-color: blue;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.orange{
    background-color: orange;
    color: black;
}
.black{
    border: 5px solid gray;
}